body {
    background-color: #ffffff;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    justify-content: space-evenly;
    padding: 2vw;
    gap: 10px;
    border-radius: 16px;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    border: none;
    padding-right: .5em;
    color: #000000;
    background-color: #ffffff;
    border-radius: 16px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    background-color: #808080;
    color: #ffffff;
    border-radius: 50%;
    flex-basis: calc(25% - 7.5px);
    border: none;
}

.btn,
.display {
    height: 75px;
    font-size: 3.5vh;
}

*,
.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5vh;
}

.first-row,
.second-row,
.third-row,
.forth-row,
.fifth-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
}